{% extends 'baseSecurity.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    <div class="container">
        {% include 'components/messageFlash.html.twig' %}

        {{ form_start(form, { attr: { class: 'form-signin' } }) }}
        <div class="row">
            <h1 class="h3 mb-3 font-weight-normal">Créez votre compte :</h1>
            <div class="alert alert-danger">
                {{ form_errors(form.password.first) }}
            </div>
            {{ form_widget(form.nom) }}
            {{ form_widget(form.email) }}
            {{ form_widget(form.password.first) }}
            {{ form_widget(form.password.second) }}
            {{ form_widget(form.submit) }}
        </div>
        <div class="row">
            <a href="{{ path('login') }}">Déjà inscrit ? Identifiez-vous </a>
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}