{% extends 'baseDashboard.html.twig' %}

{% block title %}Utilisateur{% endblock %}

{% block body %}
    <h1>Mon profil</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ utilisateur.nom }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ utilisateur.adresse }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ utilisateur.email }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ utilisateur.telephone }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('edit_profil', {'id': utilisateur.id}) }}" class="btn btn-primary"><i class="fa fa-edit"></i>edit</a>
{% endblock %}
