{% extends 'base.html.twig' %}
{% block title %}Welcome!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('style.css') }}" >
{% endblock %}


{% block body %}

    <div class="headd " >
           <!-- <div class ="Menu">  Le menu doit être par dessus l'image de vague-->
                <img class = "logo" src = "{{ absolute_url('elementsJpg/LogoBlanc.png') }}" alt = "logo" />
                <nav class ="elements"> <!-- pour le menu principal du site-->
                    <a href=#flux>Flux</a> <!-- liens vers des ancres de la MEME page-->
                    <a href = "#concept">Concept </a>
                    <a href = "#projets"> Projets </a>
                    <a href = "#equipe"> Equipe </a>
                    <a href = "#histoire"> Histoire </a>
                    <a href = "/register"> S'inscrire ou se connecter </a>
                </nav>

           <!-- </div>-->
        </div>

    <div class="gauche" >
        {% block sidebar1 %}

            <nav id="menu" class = "menuGauche">

                <p>
                    <img class = "corail" src = "{{ asset('elementsJpg/ELEMENTS-AD/Logo/Corail-Noir.png') }}" alt = "corail" />
                </p>
                <div class="elementMenuGauche">
                    <a href="#flux">Flux</a>
                    <a href="#concept">Concept</a>
                    <a href="#projets">Projets</a>
                    <a href="#equipe">Equipe</a>
                    <a href="#histoire">Histoire</a>
                    <a href="#">Agir</a>
                    <a href="#">Connexion</a>
                    <a href="#">Panier</a>
                </div>
            </nav>

        {% endblock %}

    </div>

    <div class="mainBody">
    <!-- PARTIE ELODIE -->
    <div id = flux class="parties">

        <h1 class = "titreSection1 TitreSection"><span id="SousTitre"> Flux </span></h1>
        <section  class ="s1"> <!-- simulation du concept : vidéo du flux en image de fond -->

            <div class = "video">
               <!-- <video  src="" loop="true" autoplay="true" ></video>-->
                TexteTexteTexteTexteTexteTexteTexteTexteTexteTexteTexteTexteTexteTexteTexteTexte
            </div>
        </section>
    </div>

    <!-- PARTIE WILLY -->

    <div id = concept class="parties">

        <h1 class = "titreSection2 TitreSection"><span id="SousTitre"> Concept </span> </h1>

        
        
        <figure  class = "s2">  <!-- Explication du concept en détails -->

            <table class = "cycle">
                <tr>   <!-- première ligne-->

                    <td>  <!-- début première cellule -->
                        <img src = "{{ asset('elementsJpg/ELEMENTS-AD/Concept/Flèches/Flèche droite-haut.png') }}" alt = "fleche" class = "fleche " />
                    </td> <!-- fin première cellule -->

                    <td>
                        <img src = "{{ asset('elementsJpg/ELEMENTS-AD/Concept/Underwater-camera.png') }}" alt = "camera" id="camera" onclick="changeTextCamera()" class = "camera cyclephoto" />
                    </td>
                    <td>
                        <img src = "{{ asset('elementsJpg/ELEMENTS-AD/Concept/Flèches/Flèche droite.png') }}" alt = "fleche" class = "fleche " />
                    </td>
                    <td>
                        <img src = "{{ asset('elementsJpg/ELEMENTS-AD/Concept/Diffusion.png') }}" alt = "diffusion" onclick="changeTextDiffusion()" class = "diffusion cyclephoto" />
                    </td>
                    <td>
                        <!-- ici flèche-->
                        <img src = "{{ asset('elementsJpg/ELEMENTS-AD/Concept/Flèches/Flèche droite.png') }}" alt = "fleche" class = "fleche " />
                    </td>

                </tr>  <!--fin première ligne-->

                <tr>
                    <td>
                        <img src = "{{ asset('elementsJpg/ELEMENTS-AD/Concept/Corail.png') }}" alt = "corailC" class = "corailC cyclephoto" onclick="changeTextCorail()" title = "Le Corail : blablabla" />
                    </td>
                    <td colspan="3" ></td>
                    <td>
                        <img src = "{{ asset('elementsJpg/ELEMENTS-AD/Concept/Conscience.png') }}" alt = "conscience" onclick="changeTextConscience()" class = "conscience cyclephoto" />
                    </td>

                </tr>

                <tr>
                    <td>
                        <img src = "{{ asset('elementsJpg/ELEMENTS-AD/Concept/Flèches/Flèche gauche-haut.png') }}" alt = "fleche" class = "fleche " />
                    </td>
                    <td>
                        <img src = "{{ asset('elementsJpg/ELEMENTS-AD/Concept/Developpement.png') }}" alt = "developpement" onclick="changeTextDeveloppement()" class = "developpement cyclephoto" />
                    </td>
                    <td>
                        <img src = "{{ asset('elementsJpg/ELEMENTS-AD/Concept/Flèches/Flèche gauche.png') }}" alt = "fleche" class = "fleche " />
                    </td>
                    <td>
                        <img src = "{{ asset('elementsJpg/ELEMENTS-AD/Concept/Financement.png') }}" alt = "financement" onclick="changeTextFinancement()" class = "financement cyclephoto" />
                    </td>
                    <td>
                        <!--ici fleche-->
                        <img src = "{{ asset('elementsJpg/ELEMENTS-AD/Concept/Flèches/Flèche droite.png') }}" alt = "fleche" class = "fleche " />
                    </td>
                </tr>
            </table> <br/>
            <!--
            src : chemin relatif de l'image,
            alt : affiché si l'image ne peut se charger,
            title : s'affiche quand on passe la souris sur l'image
            -->

            <!-- <figcaption>Notre cycle de fonctionnement</figcaption> Légende de la figure -->
        </figure>
        </figure>

        <!-- cette partie est consacrée pour l'affichage des informations concernant chaque icon dans le cycle -->
        <center><div class="cycleInformation" id="cycleInformation">

            </div></center>
        </section>
    </div>

    <!-- PARTIE AURELIE -->
    <div id = projets class="parties">
        <h1 class = "titreSection3 TitreSection"> <span id="SousTitre"> Projets </span> </h1>
        <section  class = "s3"> <!-- Carte du monde interactive : infos quand on clique sur chaque pin + possibilité d'en ajouter pour les administrateurs -->

            <span> <?php echo $titrePin; ?> </span>
            <p>
                <figure>
                    <img class = "carte" src = "{{ asset('elementsJpg/carteFondsMarins.jpg') }}" alt = "corail" />
                    textetextetextetextetextetextetextetextetextetextetextetextetextetextetextetextetextetexte
                    textetextetextetextetextetextetextetextetextetextetextetextetextetextetextetextetextetexte
                    textetextetextetextetextetextetextetextetextetextetextetextetextetextetextetextetextetexte
                    <br/>
                    <!--
                    Ceci est le texte entourant la carte du monde (à gauche) : varie selon le pin où on a cliqué => boucle if sur le fichier controller ?
                    src : chemin relatif de l'image,
                    alt : affiché si l'image ne peut se charger,
                    title : s'affiche quand on passe la souris sur l'image

                     -->
                </figure>
            </p>
        </section>
    </div>

    <!-- PARTIE MARIAMA-->
    <div id = "equipe" class="parties">
        <h1 class ="titreSection4 TitreSection" ><span id="SousTitre">Equipe </span></h1><br>
        <section   class = "equipe">

            <div style="width: 80%">
                <!--  partie pour l'affichage de toutes les informations [lors du clique] concernant une personne,
                       selon la photo appuyée par l'utilisateur.  -->
                <div id="Informations" class="Informations">
                    <img id="maPhoto" class="maPhoto" src="picture1.png" alt="">
                    <p id="mesInformations" class="mesInformations">
                        textetextetextetextetextetextetextetextetextetextetextetextetextetextetextetextetextetexte
                        textetextetextetextetextetextetextetextetextetextetextetextetextetextetextete
                        xtetextetexte textetextetextetextetextetextetextetextetextetextetextetextetextetextetextetextetextetexte
                    </p>
                </div>

                <!--  partie pour l'affichage de toutes les photos des membres de l'équipe.  -->
                <div id="photosEquipe" class="photosEquipe">
                    <table>
                        <tr>
                            <td><img src="picture1.png" alt=""  onClick="changePhoto(this.src), changeTextPicture1()" class="photos"></td>
                            <td><img src="picture2.jpg" alt=""  onClick="changePhoto(this.src), changeTextPicture2()" class="photos"> </td>
                        </tr>
                        <tr>
                            <td><img src="picture3.jpg" alt=""  onClick="changePhoto(this.src), changeTextPicture3()" class="photos"></td>
                            <td><img src="picture1.png" alt=""  onClick="changePhoto(this.src), changeTextPicture4()" class="photos"></td>
                        </tr>
                        <tr>
                            <td> <img src="picture1.png" alt=""  onClick="changePhoto(this.src), changeTextPicture5()" class="photos"></td>
                            <td> <img src="picture3.jpg" alt=""  onClick="changePhoto(this.src), changeTextPicture6()" class="photos"></td>
                        </tr>
                        <tr>
                            <td> <img src="picture2.jpg" alt=""  onClick="changePhoto(this.src), changeTextPicture7()" class="photos">  </td>
                            <td> <img src="picture2.jpg" alt=""  onClick="changePhoto(this.src), changeTextPicture8()" class="photos">  </td>
                        </tr>
                    </table>
                </div>
            </div>
        </section>
    </div>

    <!-- PARTIE FX-->
    <div id = histoire class="parties">
        <h1 class ="titreSection5 TitreSection"><span id="SousTitre">Histoire</span></h1>
        <section   class = "s5">

            <!-- partie calendrier -->
            <div class="curved-container contai">
                    <span class="char0">03 Fév 2016</span>
                    <span class="char1">02</span>
                    <span class="char2">01 Janvier</span>
                    <span class="char3">31</span>
                    <span class="char4">30 Déc 2015</span>
                    <span class="char5">29</span>
                    <span class="char6">28 Nov</span>
                    <span class="char7">27</span>
                    <span class="char8">26 Oct 2014</span>
                    <span class="char9">25</span>
                    <span class="char10">24 Sept</span>
                    <span class="char11">Nov</span>
                    <span class="char12">31</span>
                    <span class="char13">Oct 30</span>
                    <span class="char14">29</span>
                    <span class="char15">2019 Sept 28</span>
                    <span class="char16">27</span>
                    <span class="char17">Août 26 </span>
                    <span class="char18">25</span>
                <span class="char19">2018 Juill 24</span>
            </div>
               <!-- <table style="border: 2px groove black; width: 70%;">
                    <tr>
                        <td style="width: 60%;border: 2px groove black;">
                            <h1 style="margin-right: -250px;">03 Février 2016</h1>
                            <p style="text-align: left;width: 70%;margin-left: 100px;">Texte texte texte texte texte texte texte texttextetexte texte texte texttextetexte texte texte texttexte
                                texte texte texte texttexte texte texte texttexte texte texte texte e</p>
                        </td>
                        <td style="border: 2px groove black;">
                            <p style="font-size: 50px; text-align: center; width: 50%;">Future</p>
                        </td>
                    </tr>
                </table>-->


            <!-- dates importantes côté gauche


            <div id="dtGauche">
                <h5>Dates Importantes :</h5>
                <ul>
                    <li><strong>25/01/15 :</strong> texte texte texte </li>
                    <li><strong>31/02/15 :</strong> texte texte texte texte </li>
                    <li><strong>05/04/16 :</strong>  texte texte texte texte </li>
                </ul>

            </div>
             dates importantes côté droit
            <div id="dtDroite">
                <h5>Dates Importantes :</h5>
                    <ul>
                        <li><strong>04/02/19 :</strong> texte texte texte </li>
                        <li><strong>23/12/12 :</strong> texte texte texte texte </li>
                        <li><strong>02/11/21 :</strong>  texte texte texte texte </li>
                    </ul>
            </div>-->




        </section>
    </div>
</div>

    <div class="animaux">
        {% block sidebar2 %}

            <nav id="menu" class = "">
                <!-- partie de 0m à 200m -->
                <div class="imgAnimaux">
                    <img class = "Animaux" src = "{{ asset('elementsJpg/._zone 2_6 [espèce 1_23] chrysaora hysoscella.png')}}" alt = "chrysaora hysoscella" />
                    <img class = "Animaux" src = "{{ asset('elementsJpg/Animaux/._zone 2_6 [espèce 2_23] zanclus cornutus.png') }}" alt = "zanclus cornutus" />
                    <img class = "Animaux" src = "{{ asset('elementsJpg/Animaux/._zone 2_6 [espèce 3_23] Macrocystis Pyrifera.png') }}" alt = "Macrocystis Pyrifera" />
                    <img class = "Animaux" src = "{{ asset('elementsJpg/Animaux/._zone 2_6 [espèce 4_23] Balaenoptera Musculus.png') }}" alt = "Balaenoptera Musculus" />
                    <img class = "Animaux" src = "{{ asset('elementsJpg/Animaux/._zone 2_6 [espèce 5_23] carcharodon carcharias.png') }}" alt = "carcharodon carcharias" />
                 </div>
                <!--  partie de 200m à 1000m -->
                <div class="imgAnimaux">
                    <img class = "Animaux" src = "{{ asset('elementsJpg/Animaux/._zone 3_6 [espèce 6_23] squatina australis.png') }}" alt = "squatina australis" />
                    <img class = "Animaux" src = "{{ asset('elementsJpg/Animaux/._zone 3_6 [espèce 7_23] Galatea Squamifera.png') }}" alt = "Galatea Squamifera" />
                    <img class = "Animaux" src = "{{ asset('elementsJpg/Animaux/._zone 3_6 [espèce 8_23] Vampyroteuthis Infernalis.png') }}" alt = "Vampyroteuthis Infernalis" />
                    <img class = "Animaux" src = "{{ asset('elementsJpg/Animaux/._zone 3_6 [espèce 9_23] Idiacanthus Fasciola.png') }}" alt = "Idiacanthus Fasciola" />
                    <img class = "Animaux" src = "{{ asset('elementsJpg/Animaux/._zone 3_6 [espèce 10_23] Bathocyroe  Fosteri.png') }}" alt = "Bathocyroe  Fosteri" />
                </div>
                <!-- partie de 1000m à 2000m -->
                <div class="imgAnimaux">
                    <img class = "Animaux" src = "{{ asset('elementsJpg/Animaux/._zone 4_6 [espèce 11_23] Melanocetus johnsonii.png') }}" alt = "Melanocetus johnsonii" />
                    <img class = "Animaux" src = "{{ asset('elementsJpg/Animaux/._zone 4_6 [espèce 12_23] Architeuthis Dux.png') }}" alt = "Architeuthis Dux" />
                    <img class = "Animaux" src = "{{ asset('elementsJpg/Animaux/._zone 4_6 [espèce 13_23] Benthoctopus Levis.png') }}" alt = "Benthoctopus Levis" />
                    <img class = "Animaux" src = "{{ asset('elementsJpg/Animaux/._zone 4_6 [espèce 14_23] Physeter Macrocephalus.png') }}" alt = "Physeter Macrocephalus" />
                    <img class = "Animaux" src = "{{ asset('elementsJpg/Animaux/._zone 4_6 [espèce 15_23] Myxinidae.png') }}" alt = "Myxinidae" />
                </div>
                <!-- partie de 2000m à 6000m -->
                <div class="imgAnimaux">
                    <img class = "Animaux" src = "{{ asset('elementsJpg/Animaux/._zone 5_6 [espèce 16_23] euplectelles.png') }}" alt = "euplectelles" />
                    <img class = "Animaux" src = "{{ asset('elementsJpg/Animaux/._zone 5_6 [espèce 17_23] gorgonocephalus.png') }}" alt = "gorgonocephalus" />
                    <img class = "Animaux" src = "{{ asset('elementsJpg/Animaux/._zone 5_6 [espèce 18_23] bathypterois grallator.png') }}" alt = "bathypterois grallator" />
                    <img class = "Animaux" src = "{{ asset('elementsJpg/Animaux/._zone 5_6 [espèce 19_23] Hydrolagus Alberti.png') }}" alt = "Hydrolagus Alberti" />
                </div>
                <!-- partie de 6000m vers le bas de la page  -->
                <div class="imgAnimaux">
                    <img class = "Animaux" src = "{{ asset('elementsJpg/Animaux/._zone 6_6 [espèce 20_23] hirondellea gigas.png') }}" alt = "hirondellea gigas" />
                    <img class = "Animaux" src = "{{ asset('elementsJpg/Animaux/._zone 6_6 [espèce 21_23] elpidia glacialis.png') }}" alt = "elpidia glacialis" />
                    <img class = "Animaux" src = "{{ asset('elementsJpg/Animaux/._zone 6_6 [espèce 22_23] scotoplanes globosa.png') }}" alt = "scotoplanes globosa" />
                    <img class = "Animaux" src = "{{ asset('elementsJpg/Animaux/._zone 6_6 [espèce 23_23] Nemanthus Annamensis.png') }}" alt = "Nemanthus Annamensis" />
                </div>

            </nav>

        {% endblock %}

    </div>

    <footer class = "piedPage">  <!--pied de page -->
        <table>
            <tr>   <!-- première ligne-->
                <td>  <!-- début première cellule -->
                    <strong>Contact</strong>
                </td> <!-- fin première cellule -->
            </tr>  <!--fin première ligne-->

            <tr>
                <td>Adresse</td>
            </tr>

            <tr>
                <td>Téléphone</td>
            </tr>

            <tr>
                <td><a href = "mailto:elodielucien@gmail.com">Nous écrire</a></td>
            </tr>

        </table>

    </footer>


{% endblock %}
{% block javascripts %}
    <script type="text/javascript">

        //fonction permettera de changer la photo
        function changePhoto(source)
        {
            //récupérer l'emplacement pour afficher la photo lors du clique
            var ind= document.getElementsByClassName("maPhoto")[0];

            //affecter la source de la photo cliquée
            ind.src=source;
        }

        //les fonctions qui permetteront de changer les informations selon chaque personne dans la photo
        function changeTextPicture1(source) {
            document.getElementById("mesInformations").innerHTML="Hello my name's mariam";
        }

        function changeTextPicture2(source) {
            document.getElementById("mesInformations").innerHTML="Hello my name's houda";
        }

        function changeTextPicture3(source) {
            document.getElementById("mesInformations").innerHTML="Hi I am Jack";
        }

        function changeTextPicture4(source) {
            document.getElementById("mesInformations").innerHTML="Alright alright";
        }

        function changeTextPicture5(source) {
            document.getElementById("mesInformations").innerHTML="NO NO NO NO";
        }

        function changeTextPicture6(source) {
            document.getElementById("mesInformations").innerHTML="HAHAHAHA OK I AM WRITING THS JUST TO PRESENT MYSELF ";
        }

        function changeTextPicture7(source) {
            document.getElementById("mesInformations").innerHTML="I m happy to be one of you, your amazing team, I am honoured, because I was always obsessed with ocean , ocean is my home";
        }

        function changeTextPicture8(source) {
            document.getElementById("mesInformations").innerHTML="I am  the boss";
        }

        //les fonctions qui permetteront de changer le paragraphe selon l'icone cliqué [ partie cycle de fonctionnement ]
        function changeTextCamera()
        {
            document.getElementById("cycleInformation").innerHTML="I am a camera";
        }

        function changeTextCorail() {
            document.getElementById("cycleInformation").innerHTML="Du blabla";
        }

        function changeTextDiffusion() {
            document.getElementById("cycleInformation").innerHTML="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed " +
                "do eiusmod " +
                "tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamc" +
                "o laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit ess" +
                "e cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui offi" +
                "cia deserunt mollit anim id est laborum.";
        }

        function changeTextConscience() {
            document.getElementById("cycleInformation").innerHTML="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed " +
                "do eiusmod " +
                "tempor incididunt ut labore ";
        }

        function changeTextDeveloppement() {
            document.getElementById("cycleInformation").innerHTML="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed " +
                "do eiusmod " +
                "tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamc" +
                "o laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit ess" +
                "e cillum dolore eu fugiat nulla pariat";
        }

        function changeTextFinancement() {
            document.getElementById("cycleInformation").innerHTML="Du blabla";
        }
    </script>
{% endblock %}



