{% extends 'base.html.twig' %}
{% block title %}Welcome!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('style.css') }}" >
{% endblock %}





{% block body %}

    <div class="headd " >
           <!-- <div class ="Menu">  Le menu doit être par dessus l'image de vague-->
                <img class = "logo" src = "{{ absolute_url('elementsJpg/LogoBlanc.png') }}" alt = "logo" />
                <nav class ="elements"> <!-- pour le menu principal du site-->
                    <a href=#flux>Flux</a> <!-- liens vers des ancres de la MEME page-->
                    <a href = "#concept">Concept </a>
                    <a href = "#projets"> Projets </a>
                    <a href = "#equipe"> Equipe </a>
                    <a href = "#histoire"> Histoire </a>
                    <a href = "https://www.helloasso.com/"> Agir </a>
                    <a href = "https://www.helloasso.com/"> Panier </a>
                    <a href = "/register"> Connexion </a>
                </nav>

           <!-- </div>-->
        </div>

    <div class="gauche" >
        {% block sidebar1 %}

            <nav id="menu" class = "menuGauche">

                <p>
                    <img class = "corail" src = "{{ asset('elementsJpg/ELEMENTS-AD/Logo/Corail-Noir.png') }}" alt = "corail" />
                </p>
                <div class="elementMenuGauche">
                    <a href="#flux">Flux</a>
                    <a href="#concept">Concept</a>
                    <a href="#projets">Projets</a>
                    <a href="#equipe">Equipe</a>
                    <a href="#histoire">Histoire</a>
                </div>
            </nav>

        {% endblock %}

    </div>

    <div class="mainBody">
    <!-- PARTIE ELODIE -->
    <div id = flux class="parties">

        <h1 class = "titreSection1 TitreSection"><span id="SousTitre"> Flux </span></h1>
        <section  class ="s1"> <!-- simulation du concept : vidéo du flux en image de fond -->

            <div class = "video">
               <!-- <video  src="" loop="true" autoplay="true" ></video>-->
                TexteTexteTexteTexteTexteTexteTexteTexteTexteTexteTexteTexteTexteTexteTexteTexte
            </div>
        </section>
    </div>

    <!-- PARTIE WILLY -->
    <div id = concept class="parties">
        <h1 class = "titreSection2 TitreSection"><span id="SousTitre"> Concept </span> </h1>
        <center id="titleCycle">Notre cycle de fonctionnement</center>
        
        
        <figure  class = "s2">  <!-- Explication du concept en détails -->

            <table class = "cycle">
                <tr>   <!-- première ligne-->

                    <td>  <!-- début première cellule -->
                        <img src = "{{ asset('elementsJpg/ELEMENTS-AD/Concept/Flèches/Flèche droite-haut.png') }}" alt = "fleche" class = "fleche " />
                    </td> <!-- fin première cellule -->

                    <td>
                        <img src = "{{ asset('elementsJpg/ELEMENTS-AD/Concept/Underwater-camera.png') }}" alt = "camera" id="camera" onclick="changeTextCamera()" class = "camera cyclephoto" />
                    </td>
                    <td>
                        <img src = "{{ asset('elementsJpg/ELEMENTS-AD/Concept/Flèches/Flèche droite.png') }}" alt = "fleche" class = "fleche " />
                    </td>
                    <td>
                        <img src = "{{ asset('elementsJpg/ELEMENTS-AD/Concept/Diffusion.png') }}" alt = "diffusion" onclick="changeTextDiffusion()" class = "diffusion cyclephoto" />
                    </td>
                    <td>
                        <!-- ici flèche-->
                        <img src = "{{ asset('elementsJpg/ELEMENTS-AD/Concept/Flèches/Flèche droite.png') }}" alt = "fleche" class = "fleche " />
                    </td>

                </tr>  <!--fin première ligne-->

                <tr>
                    <td>
                        <img src = "{{ asset('elementsJpg/ELEMENTS-AD/Concept/Corail.png') }}" alt = "corailC" class = "corailC cyclephoto" onclick="changeTextCorail()" title = "Le Corail : blablabla" />
                    </td>
                    <td colspan="3" >>Cliques sur une icone pour nous découvrir</td>

                    <td>
                        <img src = "{{ asset('elementsJpg/ELEMENTS-AD/Concept/Conscience.png') }}" alt = "conscience" onclick="changeTextConscience()" class = "conscience cyclephoto" />
                    </td>

                </tr>

                <tr>
                    <td>
                        <img src = "{{ asset('elementsJpg/ELEMENTS-AD/Concept/Flèches/Flèche gauche-haut.png') }}" alt = "fleche" class = "fleche " />
                    </td>
                    <td>
                        <img src = "{{ asset('elementsJpg/ELEMENTS-AD/Concept/Developpement.png') }}" alt = "developpement" onclick="changeTextDeveloppement()" class = "developpement cyclephoto" />
                    </td>
                    <td>
                        <img src = "{{ asset('elementsJpg/ELEMENTS-AD/Concept/Flèches/Flèche gauche.png') }}" alt = "fleche" class = "fleche " />
                    </td>
                    <td>
                        <img src = "{{ asset('elementsJpg/ELEMENTS-AD/Concept/Financement.png') }}" alt = "financement" onclick="changeTextFinancement()" class = "financement cyclephoto" />
                    </td>
                    <td>
                        <!--ici fleche-->
                        <img src = "{{ asset('elementsJpg/ELEMENTS-AD/Concept/Flèches/Flèche droite.png') }}" alt = "fleche" class = "fleche " />
                    </td>
                </tr>
            </table> <br/>
            <!--
            src : chemin relatif de l'image,
            alt : affiché si l'image ne peut se charger,
            title : s'affiche quand on passe la souris sur l'image
            -->

            <!-- <figcaption>Notre cycle de fonctionnement</figcaption> Légende de la figure -->
        </figure>
        </figure>

        <!-- cette partie est consacrée pour l'affichage des informations concernant chaque icon dans le cycle -->
        <center><div class="cycleInformation" id="cycleInformation">

            </div></center>
        </section>
    </div>

    <!-- PARTIE AURELIE -->
    <div id = projets class="parties">
        <h1 class = "titreSection3 TitreSection"> <span id="SousTitre"> Projets </span> </h1>
        <section  class = "s3"> <!-- Carte du monde interactive : infos quand on clique sur chaque pin + possibilité d'en ajouter pour les administrateurs -->

            <span> <?php echo $titrePin; ?> </span>
            <p>
                <figure>
                    <img class = "carte" src = "{{ asset('elementsJpg/carteFondsMarins.jpg') }}" alt = "corail" />
                    textetextetextetextetextetextetextetextetextetextetextetextetextetextetextetextetextetexte
                    textetextetextetextetextetextetextetextetextetextetextetextetextetextetextetextetextetexte
                    textetextetextetextetextetextetextetextetextetextetextetextetextetextetextetextetextetexte
                    <br/>
                    <!--
                    Ceci est le texte entourant la carte du monde (à gauche) : varie selon le pin où on a cliqué => boucle if sur le fichier controller ?
                    src : chemin relatif de l'image,
                    alt : affiché si l'image ne peut se charger,
                    title : s'affiche quand on passe la souris sur l'image

                     -->
                </figure>
            </p>
        </section>
    </div>

    <!-- PARTIE MARIAMA-->
    <div id = "equipe" class="parties">
        <h1 class ="titreSection4 TitreSection" ><span id="SousTitre">Equipe </span></h1><br>
        <section   class = "equipe">

            <div style="width: 80%">
                <!--  partie pour l'affichage de toutes les informations [lors du clique] concernant une personne,
                       selon la photo appuyée par l'utilisateur.  -->
                <div id="Informations" class="Informations">
                    <img id="maPhoto" class="maPhoto" src="picture1.png" alt="">
                    <p id="mesInformations" class="mesInformations">
                        textetextetextetextetextetextetextetextetextetextetextetextetextetextetextetextetextetexte
                        textetextetextetextetextetextetextetextetextetextetextetextetextetextetextete
                        xtetextetexte textetextetextetextetextetextetextetextetextetextetextetextetextetextetextetextetextetexte
                    </p>
                </div>

                <!--  partie pour l'affichage de toutes les photos des membres de l'équipe.  -->
                <div id="photosEquipe" class="photosEquipe">
                    <table>
                        <tr>
                            <td><img src="picture1.png" alt=""  onClick="changePhoto(this.src), changeTextPicture1()" class="photos"></td>
                            <td><img src="picture2.jpg" alt=""  onClick="changePhoto(this.src), changeTextPicture2()" class="photos"> </td>
                        </tr>
                        <tr>
                            <td><img src="picture3.jpg" alt=""  onClick="changePhoto(this.src), changeTextPicture3()" class="photos"></td>
                            <td><img src="picture1.png" alt=""  onClick="changePhoto(this.src), changeTextPicture4()" class="photos"></td>
                        </tr>
                        <tr>
                            <td> <img src="picture1.png" alt=""  onClick="changePhoto(this.src), changeTextPicture5()" class="photos"></td>
                            <td> <img src="picture3.jpg" alt=""  onClick="changePhoto(this.src), changeTextPicture6()" class="photos"></td>
                        </tr>
                        <tr>
                            <td> <img src="picture2.jpg" alt=""  onClick="changePhoto(this.src), changeTextPicture7()" class="photos">  </td>
                            <td> <img src="picture2.jpg" alt=""  onClick="changePhoto(this.src), changeTextPicture8()" class="photos">  </td>
                        </tr>
                    </table>
                </div>
            </div>
        </section>
    </div>

    <!-- PARTIE FX-->
    <div id = histoire class="parties">
        <h1 class ="titreSection5 TitreSection"><span id="SousTitre">Histoire</span></h1>
        <section   class = "s5">
            <p>
                textetextetextetextetextetextetextetextetextetextetextetextetextetextetexte
                textetextetextetextetextetextetextetextetextetextetextetextetextetexte
                textetextetextetextetextetextetextetextetextetextetextetextetextetexte

            </p>


        </section>
    </div>
</div>

    <div class="animaux">
        {% block sidebar2 %}

            <nav id="menu" class = "menuGauche">

                <p>
                    <img class = "corail" src = "{{ asset('elementsJpg/ELEMENTS-AD/Logo/Corail-Noir.png') }}" alt = "corail" />
                </p>
                <div class="elementMenuGauche">
                    <a href="#flux">Flux</a>
                    <a href="#concept">Concept</a>
                    <a href="#projets">Projets</a>
                    <a href="#equipe">Equipe</a>
                    <a href="#histoire">Histoire</a>
                </div>
            </nav>

        {% endblock %}

    </div>

    <footer class = "piedPage">  <!--pied de page -->
        <table>
            <tr>   <!-- première ligne-->
                <td>  <!-- début première cellule -->
                    <strong>Contact</strong>
                </td> <!-- fin première cellule -->
            </tr>  <!--fin première ligne-->

            <tr>
                <td>Adresse</td>
            </tr>

            <tr>
                <td>Téléphone</td>
            </tr>

            <tr>
                <td><a href = "mailto:elodielucien@gmail.com">Nous écrire</a></td>
            </tr>

        </table>

    </footer>


{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('myjava.js') }}"></script>
{% endblock %}



